@model offlineMeeting.Models.ViewModel.PictureViewModel

@{
    ViewData["Title"] = "Picture";
}
@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/smartphoto@latest/css/smartphoto.min.css">
    <script src="https://unpkg.com/smartphoto@latest/js/smartphoto.min.js"></script>
    <script src="~/js/PictureUser.js" defer></script>
    <link rel="stylesheet" href="~/css/Picture/Index.css" asp-append-version="true" />
    <script>
         document.addEventListener('DOMContentLoaded', function () {
            new SmartPhoto(".js-smartPhoto");
        });
    </script>
}
<div id="picture">
    <partial name="/Views/Picture/_Picture.cshtml" />
</div>
<div id ="answer_container">

    @if (@Model.PictureEntity?.PictureImageOverlay == "")
    {
        <canvas id="textCanvas"></canvas>
    }
    <div class="picture-buttons">
        <button id="clear">クリア</button>
        <button id="send" @(Model.PictureEntity != null ? "" : "disabled")>確定</button>
    </div>
</div>
<div>
    <br /><button id="back" type="button">戻る</button>
</div>