@using pleasanterPictures.Models.Entity.Picture
@using pleasanterPictures.Models.ViewModel
@model PictureViewModel

@{
    ViewData["Title"] = "Picture";
}
@section Scripts {
    <link rel="stylesheet" href="~/css/Picture/Index.css" asp-append-version="true" />
}

<h2>クイズ一覧</h2>
<div id="picture_list">
    @foreach (PictureEntity pictureEntity in Model.PictureEntityList ?? new List<PictureEntity>())
    {
        <p>
            <a asp-area="" asp-controller="Picture" asp-action="Detail" asp-route-resultId="@pictureEntity.ResultId">
                @pictureEntity.Picture
            </a>
        </p>
    }
</div>
<div>
    <br /><button id="back" type="button" onclick="history.back()">戻る</button>
</div>