.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    transition: .3s;
    box-sizing: border-box;
}
    .modalWrapper:before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.7);
        z-index: 999;
        transition: .3s;
        opacity: 0;
    }

.modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 80%;
    max-width: 900px;
    height: 500px;
    margin: auto;
    padding: 30px;
    overflow-y: auto;
}

.modalHeader {
    position: sticky;
    top: 0px;
    height: 50px;
    text-align: center;
    background-color: burlywood;
}
    .modalHeader > span:first-child {
        vertical-align: middle;
    }
    .modalHeader > .closeButton {
        float: right;
        font-size: 48px;
    }

.modalContents {
    text-align: center;
}
    .modalContents > .modalButtons {
        display: flex;
        justify-content: space-around;
        margin-right: 25%;
        margin-left: 25%;
    }